// CORE SCSS

//IMPORTED PARTIALS
@import 'components/reset';
@import 'components/navbar';
@import 'components/hero1';

//MASTER CONTROLS

body{
  height: 100vh;
  width: 100vh;
  background-color: #EEF1F2;
}
