// CORE SCSS

//IMPORTED PARTIALS
@import 'components/reset';
@import 'components/basetags';
@import 'components/navbar';
@import 'components/hero1';
@import 'components/hero2';
@import 'components/works';
@import 'components/footer';

//MASTER CONTROLS

body{
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  background-color: linear-gradient(815deg, #EEF1F2, #BED3D5);
}
