// FOOTER CODE

.footer{
  height: 17%;
  width: 100%;
  position: absolute;
  background-color: #FFF;
  top: 150%;
}

.icons{
  height: 13%;
  width: 150%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

#fb{
  background: url('imgs/facebook.png') no-repeat;
  top: 154.5%;
  left: 41%;
}

#insta{
  background: url('imgs/insta.png') no-repeat;
  top: 155%;
  left: 47.5%;
}

#twitter{
  background: url('imgs/twitter.png') no-repeat;
  top: 155%;
  left: 55%;
}

p7{
  height: auto;
  width: auto;
  position: absolute;
  letter-spacing: .1em;
  top: 155%;
  left: 10%;
  cursor: pointer;

  color: #000;
  font-family: "Kiona";
  font-size: 24px;
  text-align: center;
  z-index: 10;

  &:hover{
    color: #52A2D8;
  }
}

p8{
  height: auto;
  width: auto;
  position: absolute;
  letter-spacing: .1em;
  top: 155%;
  left: 80%;
  cursor: pointer;

  color: #000;
  font-family: "Kiona";
  font-size: 24px;
  text-align: center;
  z-index: 10;

  &:hover{
    color: #52A2D8;
  }
}
