// FOOTER CODE

.footer{
  height: 13%;
  width: 150%;
  position: absolute;
  background-color: #FFF;
  top: 145%;
}

.icons{
  height: 13%;
  width: 150%;
  position: absolute;
  z-index: 10;
}

#fb{
  background: url('imgs/facebook.png') no-repeat;
  top: 149%;
  left: 38%;
}

#insta{
  background: url('imgs/insta.png') no-repeat;
  top: 149.5%;
  left: 48%;
}

#twitter{
  background: url('imgs/twitter.png') no-repeat;
  top: 149.8%;
  left: 58%;
}
