//HERO 1 SASS

h1{
  height: 40px;
  width: auto;
  position: fixed;
  letter-spacing: .1em;
  top: 4%;
  left: 29%;
  position: relative;
  background-size: contain;

  color: #000;
  font-family: "Kiona";
  font-size: 48px;
}

h2{
  height: 40px;
  width: auto;
  position: fixed;
  letter-spacing: .1em;
  top: 8%;
  left: 50%;
  position: relative;
  background-size: contain;

  color: #000;
  font-family: "Veranda";
  font-size: 19px;
}

.break{
  background: url('imgs/Break.png') no-repeat;

  position: relative;
  background-size: contain;
}

#b1{
  height: 5px;
  width: auto;
  top: 10%;
  left: 30%;
}
